:root{
    --cor-primaria: #e8a5b8;
    --cor-segundaria: #d48b9f;
    --cor-fundo: #faf5f7;
    --cor-texto: #4a3b42;
    --cor-contraste: #ffffff;
    --cor-botao: #f3d7e0;

    --fonte-texto: 'Segoe UI', sans-serif;
}

*{
    transition: background-color 0.3s ease;
}

.tema-escuro{
     --cor-primaria: #5a3d46;
    --cor-segundaria: #e8a5b8;
    --cor-fundo: #1f181b;
    --cor-texto: #f5e6ea;
    --cor-contraste: #f5e6ea;
    --cor-botao: #38262c;
}

.tema-escuro a {
    color: var(--cor-segundaria);
}

.tema-escuro p {
    color: var(--cor-texto);
}

.tema-escuro header p {
    color: var(--cor-contraste);
}

.tema-escuro .btn-tema-escuro{
    background-color: var(--cor-segundaria);
}

body{
    max-width: 100vw;
    font-family: var(--fonte-texto);
}
    
header {
            background-color: var(--cor-primaria);
            color: var(--cor-contraste);
            text-align: center;
            margin: 0 auto;
            padding: 16px;
        }

        main {
            background-color: var(--cor-fundo);
            color: #5a3d46;
            margin: 0 auto;
            padding: 16px;

            display: flex;
            flex-wrap: wrap;
        }

        article{
            display: flex;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0,3);
             margin: 16px;
             gap: 16px;
             padding: 16px;

            flex: 1 1 25%;

            flex-direction: column;
             align-items: center;
             text-align: center;
            justify-content: center;
        }

        img {
            width: 80px;
            height: 80px;
        }

        .artigo-autor {
            display: flex;
            font-weight: bold;
        }

        .btn-tema-escuro {
            position: fixed;
            bottom: 16px;
            right: 16px;
            font-size: 32px;
            padding: 12px;
            background-color: var(--cor-primaria);
            border-radius: 30%;
        }